{% extends "base.html" %}


{% block title %} Big Battery Tracker {% endblock %}

{% block og_props %}
<meta name="description" content="List and map of big battery installations (>10MWh). And more stats around battery storage...">
<meta property="og:title" content="Big Battery Tracker" />
<meta property="og:description" content="List and map of big battery installations (>10MWh). And more stats around battery storage..." />
<meta property="og:image" content="https://lorenz-g.github.io/tesla-megapack-tracker/pics/og-image.jpg" />
{% endblock %}


{% block extra_scripts %}
<!-- Datatables JS -->
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap5.min.js" crossorigin="anonymous"></script>

<script src="{{ g_l('/js/batteryMap.js')}}" crossorigin="anonymous"></script>
<script src="{{ g_l('/js/batteryList.js')}}" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {        
        // load data via jinja
        var projects = {{ extra.projects_json }};
        var summary = {{ extra.summary | tojson }};
        generateBatteryList(4, [7,8], summary, '#projects-table');
        generateBatteryMap(projects, 'mapid');

    } );
</script>
{% endblock %}

{% block extra_styles %}
<style>
/* inspiration for this on the companiesmarketcap.com website */
.td-name{
    position: sticky !important; 
    left: 0; 
    z-index: 100;
    background-color: #fff !important;
}
</style>
{% endblock %}



{% block content %}
<h3 id=""> Big battery summary </h3>

<div class="row">
    <div class="col-lg-5">
        <table class="table table-bordered">
            <tr>
                <td></td>
                <td><span class="badge rounded-pill bg-success">operation</span></td>
                <td>🏗️</td>
                <td>💻</td>
            </tr>
            <tr>
                <td>Projects count</td>
                <td>{{ extra.summary.by_status.operation.count }}</td>
                <td>{{ extra.summary.by_status.construction.count }}</td>
                <td>{{ extra.summary.by_status.planning.count }}</td>
            </tr>
            <tr>
                <td>🔋 Battery capacity (GWh) </td>
                <td>{{ "%.1f" | format(extra.summary.by_status.operation.gwh) }}</td>
                <td>{{ "%.1f" | format(extra.summary.by_status.construction.gwh) }}</td>
                <td>{{ "%.1f" | format(extra.summary.by_status.planning.gwh) }}</td>
            </tr>
            <tr>
                <td colspan="4"> 
                    GWh that went in <span class="badge rounded-pill bg-success">operation</span> per year: <br>
                    <div class="progress mt-2" style="height: 2em;">
                    {% for year in extra.summary.yearly_operation %}
                        <div class="progress-bar bg-success border" role="progressbar" style="width: {{ year.perc }}%;">{{ "%.1f" | format(year.gwh) }}</div>
                    {% endfor %}
                    </div>  
                    <div class="progress" style="height: 2em;">
                        {% for year in extra.summary.yearly_operation %}
                            <div class="progress-bar bg-white text-muted" role="progressbar" style="width: {{ year.perc }}%;">{{ year.year[2:] }}</div>
                        {% endfor %}
                    </div>  
                    GWh in <span class="badge rounded-pill bg-success">operation</span> by country (top 5): <br>
                    {% for country in extra.summary.by_country[:5] %}
                        {{ country.flag }} {{ "%.1f" | format(country.gwh) }} &nbsp;&nbsp;
                    {% endfor %}
                </td>
            </tr>
        </table>
        🏗️ = construction; 💻 = planning<br><br>
    </div>
</div>


<h3 id="project-list"> Big battery project list </h3>
<ul>
    <li>This list is a best effort to track big battery installations larger than 10 MWh. The focus is on lithium ion batteries.</li>
    <li>Use the search bar to narrow down the results, e.g. <code>california operation</code> for projects in California in operation.</li>
    <li>Click on the name to show a detail view of the project.</li>
    <li class="d-md-none">Table is better on a big screen (with more columns also).</li>
</ul>


<table id="projects-table" class="table">
    <thead>
        <tr>
            <th class="td-name">Name</th>
            <th>State</th>
            <th>Country</th>
            <th>Status</th>
            <th>Go live</th>
            <th>Man.</th>
            <th>Customer / Owner / Developer</th>
            <th>MWh</th>
            <th>MW</th>
        </tr>
    </thead>
    <tbody>
        {% for p in extra.projects %}
        <tr>
            <td class="td-name">
                <a href="projects/{{p.csv.id}}.html" target="_blank">{{ p.name }}</a> 
                <span class="text-nowrap">{{p.emojis_with_tooltips}}</span>
            </td>
            <td>{{ p.state }}</td>
            <td>{{ p.country }}</td>
            <td><span class="{{ p.status_class }}">{{ p.status }}</span></td>
            <td class="text-nowrap">{{ p.go_live }}</td>
            <td>{{ p.csv.manufacturer }}</td>
            <td>{{ p.csv.customer }} {{ p.owner }} {{ p.csv.developer }}</td>
            <td>{{ p.mwh }}</td>
            <td>{{ p.mw }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="td-name">Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<br>
{{ extra.summary.emoji_legend}}

<br>Raw data as: 
<a href="misc/big-battery-projects.json">json</a> &
<a href="misc/big-battery-projects.csv">csv</a>


<h3 id="installations-map" class="mt-4"> Installations map </h3>
<ul>
    <li>Click on the layers button on the top right to switch to <code>satellite view</code></li>
    <li>At certain zoom level, the names of the projects will show up under the pin</code></li>
    <li>Click on the pins for more info about the project</code></li>
</ul>

<div style="height: 600px;" id="mapid"></div>

<img height=28 src="pics/marker-grey.png">Planning
<img height=28 src="pics/marker-blue.png">Construction
<img height=28 src="pics/marker-green.png">Operation
<br>{{ extra.summary.emoji_legend}}


<h3 id="contact" class="mt-4">Contact & Contribute</h3>
<a href="https://twitter.com/l__orenz" title="Ask me on Twitter" target="_blank"><img alt="" src="pics/twitter-round.png" width="46"></a>
<a href="https://github.com/lorenz-g/tesla-megapack-tracker" title="View Source on GitHub" target="_blank"><img alt="View Source on GitHub" src="pics/github-round.png" width="46"></a>
<br>

Contact: Direct Message via <a href="https://twitter.com/l__orenz" target="_blank">Twitter</a> for questions. 
<br>
Contribute: Open an issue or a PR on 
<a href="https://github.com/lorenz-g/tesla-megapack-tracker" target="_blank">Github</a>. 
Source code is there as well. 
<br><br>

<div style="font-size: 0.8rem;">
    This page is not affiliated, associated, endorsed by or in any way officially connected with Tesla, Inc.
    <br>
    Website was generated on: {{ extra.now.strftime("%Y-%m-%d %H:%M") }} UTC
</div>

{% endblock %}
