<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ g_l('favicon.ico') }}">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Datatables CSS https://cdn.datatables.net/ -->
    <link href="https://cdn.datatables.net/1.11.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- leaflet js css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

    {% block extra_styles %}{% endblock %} 

    <title>
        {% block title %} Tesla Megapack Tracker {% endblock %}
    </title>

    {% block og_props %}
    <meta name="description" content="Map of Tesla and other big battery installations. And more info around battery storage...">
    <meta property="og:title" content="Tesla Megapack Tracker" />
    <meta property="og:description" content="Map of Tesla and other big battery installations. And more info around battery storage..." />
    <meta property="og:image" content="https://lorenz-g.github.io/tesla-megapack-tracker/pics/og-image.jpg" />
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow py-3 px-1 mb-3">
        <div class="container-fluid px-0">
            <a class="navbar-brand" href="{{ g_l('/') }}">
                <img src="{{ g_l('/pics/logo.jpg') }}" alt="logo" width="30" height="30">
                Tesla Megapack Tracker
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {# not sure how to move the items to the right ml-auto worked in v4, but does not work in v5 #}
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="{{ g_l('/') }}">Megapack tracker <span id="project-length-tesla"></span></a></li>
              <li class="nav-item"><a class="nav-link" href="{{ g_l('/#cars-vs-stationary') }}">Cars vs Stationary</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ g_l('/all-big-batteries.html') }}">Big battery tracker <span id="project-length-all"></span></a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Government data
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{ g_l('/gov-us-eia.html') }}">🇺🇸 US EIA data (>10MW)</a></li>
                  <li><a class="dropdown-item" href="{{ g_l('/gov-uk-repd.html') }}">🇬🇧 UK REPD data (>10MW)</a></li>
                  <li><a class="dropdown-item" href="{{ g_l('/gov-de-mastr.html') }}">🇩🇪 DE MaStR data (>10MW) </a></li>
                  <li>
                    <a class="dropdown-item" href="{{ g_l('/gov-de-mastr-small-batteries.html') }}">
                      🇩🇪 DE MaStR data (< 30kWh small batteries) <span class="badge bg-info">New</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="{{ g_l('/blog.html') }}">Blog</a></li>

              <li class="nav-item"><a class="nav-link" href="{{ g_l('/#contact') }}">Contact</a></li>
              
            </ul>
          </div>
        </div>
      </nav>
    <div class="container-xl px-1">
        {% block content %}{% endblock %}      
    </div> <!-- end container-xl-->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- leafletjs  -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- script to load in the project length via ajax -->
    <script>
      $(document).ready(function() {
        $.ajax({url: "{{ g_l('/ajax-data.json') }}", success: function(result){
          $("#project-length-tesla").html(result.project_length.tesla_str);
          $("#project-length-all").html(result.project_length.all_str); 
        }});

        // enable bootstrap tooltips everywhere
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });
      });    

      
    </script>

    {% block extra_scripts %}{% endblock %}  
  </body>
</html>
