{% extends "base.html" %}

{% block title %} 
{{ extra.name_short }} big battery summary
{% endblock %}



{% block og_props %}
<meta name="description" content="{{ extra.name_long }} big battery summary">

<meta property="og:title" content="{{ extra.name_short }} big battery summary" />
<meta property="og:description" content="{{ extra.name_long }} big battery summary" />
<meta property="og:image" content="https://lorenz-g.github.io/tesla-megapack-tracker/pics/logo.jpg" />
{% endblock %}



{% block content %}

<h3> {{ extra.name_short }} Summary <span class="badge bg-info">New</span></h3>

<div class="row">
    <div class="col-lg-5">
        {{ extra.name_short }} report from <code>{{ extra.summary.current_month }}</code>
        <table class="table table-bordered">
            <tr>
                <td></td>
                <td><span class="badge rounded-pill bg-success">operation</span></td>
                <td>🏗️</td>
                <td>💻</td>
            </tr>
            
            <tr>
                <td>Projects count</td>
                <td>{{ extra.summary.current.operation.count }}</td>
                <td>{{ extra.summary.current.construction.count }}</td>
                <td>{{ extra.summary.current.planning.count }}</td>
            </tr>
            <tr>
                <td>Total 🔋 battery power in GW </td>
                <td>{{ "%.1f" | format(extra.summary.current.operation.gw) }}</td>
                <td>{{ "%.1f" | format(extra.summary.current.construction.gw) }}</td>
                <td>{{ "%.1f" | format(extra.summary.current.planning.gw) }}</td>
            </tr>
        </table>
        🏗️ = construction; 💻 = planning<br><br>
    </div>
</div>
<ul>
    <li>The <b>{{ extra.name_long }}</b> uploads snapshots of the database here roughly every quarter: 
        <a href ="{{ extra.source_url }}">{{ extra.source_url }}</a></li>
    <li>The snapshot is filtered by battery projects <b>above 10MW</b> (unfortunately the capacity is not in the reports)</li>    
</ul>

<h3> Monthly big battery changes from {{ extra.name_short }} reports </h3>

<ul>
    <li>Comparing the reports to show the changes throughout the months.</li>
    <li>Projects are sorted by the max power output.</li>
    <li>All projects below are also listed on the <a href="all-big-batteries.html">All Big Batteries page</a></li>
    <li>Click on the reference number to get to the detail page of the project</li>
</ul>




{% for month in extra.summary.monthly_diffs%}

<br>
<h4>{{ month.month}}</h4>
New projects ({{ month.new | length}}): <br>
{% for pr in month.new %}
    {% set pr_sh = extra.summary.projects_short[pr["Ref ID"]] %}
    {{ pr_sh.power_mw}} MW - {{ pr_sh.status }} - {{ pr_sh.state}} - {{ pr_sh.name }} - 
    <a href="projects/{{extra.gen_ids_from_projects[pr_sh.external_id]}}.html">{{pr_sh.external_id}}</a><br>    
{% endfor %}


{% if month.disappeared | length > 0 %}
<br>
Disappeared projects ({{ month.disappeared | length}}): <br>
{% for pr in month.disappeared %}
    {% set pr_sh = extra.summary.projects_short[pr["Ref ID"]] %}
    {{ pr_sh.power_mw}} MW - {{ pr_sh.status }} - {{ pr_sh.state}} - {{ pr_sh.name }} - 
    <a href="projects/{{extra.gen_ids_from_projects[pr_sh.external_id]}}.html">{{pr_sh.external_id}}</a><br>    
{% endfor %}
{% endif %}

<br>
Updated projects ({{ month.updated | length}}):<br>
{% for pr, changes in month.updated %}
<div class="mb-2">
    {% set pr_sh = extra.summary.projects_short[pr["Ref ID"]] %}
    {{ pr_sh.power_mw}} MW - {{ pr_sh.status }} - {{ pr_sh.state}} - {{ pr_sh.name }} - 
    <a href="projects/{{extra.gen_ids_from_projects[pr_sh.external_id]}}.html">{{pr_sh.external_id}}</a><br>    
    {% for change in changes %}
        &nbsp;&nbsp;{{ change.name }}: {{ change.from }} -> {{ change.to }} {{ change.extra | safe }}<br>
    {% endfor %}
</div>
{% endfor %}

{% endfor %}


{% endblock %}
