{% extends "base.html" %}

{% block extra_scripts %}
<!-- Datatables JS with Jquery  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap5.min.js" crossorigin="anonymous"></script>

<script>
    // enable the datatable
    $(document).ready(function() {
 
        $('#projects-table').DataTable({
            "pageLength": 25,
            "order": [[ 4, "desc" ]],
            // the inspiration for the totals row comes from https://elbilstatistikk.no/
            'drawCallback': function (oSettings) {
                var api = this.api();
                var searchStr = oSettings.oPreviousSearch.sSearch;
                searchStr = searchStr.trim();

                if (searchStr.length != 0) {
                    columns = [6, 7]; // Add columns here
                    for (var i = 0; i < columns.length; i++) {
                        var nodes = api.column(columns[i], { filter: 'applied', page: 'current' }).nodes();
                        var total = 0;
                        for (var j = 0; j < nodes.length; j++) {
                            total += parseFloat(nodes[j].innerText) || 0
                        }
                        $('tfoot th').eq(columns[i]).html(total);
                    }
                    var pLen = api.column(columns[i], { filter: 'applied', page: 'current' }).nodes().length
                    $('tfoot th').eq(0).html(`Total (${pLen} projects)`);
                }
                else {
                    $('tfoot th').eq(0).html('Total ({{ extra.summary.totals_row.count}} projects)');
                    $('tfoot th').eq(6).html('{{ extra.summary.totals_row.mwh}}');
                    $('tfoot th').eq(7).html('{{ extra.summary.totals_row.mw}}');
                }
            } //end footerCallback
        });

        // followed this guide 
        // https://leafletjs.com/examples/quick-start/
        // https://leafletjs.com/examples/layers-control/
        var streets = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYmFuZGluaWdvIiwiYSI6ImNrc3p2YjhuNzJ3eHAydXRmbW55Y2FuZHgifQ.j5Swr0wVOityl1LecXZT6g'
        });
        var satellite = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/satellite-v9',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYmFuZGluaWdvIiwiYSI6ImNrc3p2YjhuNzJ3eHAydXRmbW55Y2FuZHgifQ.j5Swr0wVOityl1LecXZT6g'
        });

        var baseLayers = {
		    "Streets": streets,
            "Satellite": satellite,
	    };

        var overlays = {
		    planning: [],
            construction: [],
            operation: [],
	    };

        var markerColor = {
            planning: "grey",
            construction: "blue",
            operation: "green",
        }

        var labelGroup = new L.FeatureGroup();


        // insert the data via jinja here
        // just a hack to parse it, o/w the color highlighting in VS Code is messed up. 
        var projects = '{{ projects | tojson }}';
        projects = JSON.parse(projects)
        
        var p;
        var warning = "";

        for (var i=0; i < projects.length; i++){
            p = projects[i];
            if (p["coords exact"] != "1") {
                warning = `<br>📍<span class="badge bg-danger">location not exactly known</span>`;
            } else {
                warning = "";
            }
            // L.Icon.Default.prototype.options, to check the default things
            var icon = L.icon({
                iconUrl:"pics/marker-" + markerColor[p["status"]]+ ".png",
                iconAnchor: [12, 41],
                iconSize: [25, 41],
                popupAnchor: [ 1, -34],
                tooltipAnchor: [ 16, -28 ],
            }); 
               
            if (p["lat"] != ""){
                var marker;
                marker = L.marker([p["lat"], p["long"]], {icon: icon});
                marker.bindPopup(
                    `<b>${p["name"]}</b> <br>${p["capacity mwh"]}MWh<br> ${p["status"]} 
                    <br><a href="${p["google_maps_link"]}" target="_blank">Google Maps</a>
                    ${warning}
                    <br><a href="projects/${p["id"]}.html" target="_blank">Details</a>
                    `
                );
                // TODO: find a way to quickly create icons of different colors
                // there is the div icon, or an external lib called AwesomeMarker
                overlays[p["status"]].push(marker)
                
                // TODO: find a way to only show the labels for the layers that a selected
                // for now they are always shown
                var label = L.marker([p["lat"], p["long"]]);
                var div = L.divIcon({
                "className": "map-label", 
                "html": `<span class="text-nowrap bg-white">&nbsp;${p.smileys}${p.name}&nbsp;</span> <span class="text-nowrap bg-white">&nbsp;${p["capacity mwh"]}MWh&nbsp;</span>`,
                "iconAnchor": [0, 0]});
                label.setIcon(div);
                labelGroup.addLayer(label)

                // overlays[p["status"]].push(label)

            }
        }

        // not pretty, can you add to a layer group directly? 
        overlays = {
		    "planning": L.layerGroup(overlays["planning"]),
            "construction": L.layerGroup(overlays["construction"]),
            "operation": L.layerGroup(overlays["operation"]),
	    };


        var mymap = L.map('mapid', {
            // sets what is shown
            layers: [streets, overlays["planning"], overlays["construction"], overlays["operation"]],
            // TODO: is there a way how you can set it to ctrl + wheel
            scrollWheelZoom: true,
        }).setView([35.160636, 11.096191], 2);
        
        L.control.layers(baseLayers, overlays).addTo(mymap);

        // only show labels on certain zoom level
        mymap.on('zoomend', function() {
            console.log("zoom", mymap.getZoom());
            if (mymap.getZoom() < 8){
                mymap.removeLayer(labelGroup);
            }
            else {
                mymap.addLayer(labelGroup);
            }
        });
 
        // useful for refining the points, disable on production
        var popup = L.popup();
        function onMapClick(e) {
            popup
            .setLatLng(e.latlng)
            .setContent(e.latlng.toString())
            .openOn(mymap);
        }
        // mymap.on('click', onMapClick);

    } );
</script>
{% endblock %}


{% block content %}
Page is better on a big screen. Does not work well on mobile. 

<h3 id=""> Megapack Summary </h3>

<div class="row">
    <div class="col-lg-4">
        <table class="table table-bordered">
            <tr>
                <td>
                    <span class="badge rounded-pill bg-secondary">megapack</span> projects in 
                    <span class="badge rounded-pill bg-success">operation</span>
                </td>
                <td>{{ extra.summary.megapack.project_cnt }}</td>
            </tr>
            <tr>
                <td>Total 🔋 battery capacity in GWh </td>
                <td>{{ "%.1f" | format(extra.summary.megapack.gwh) }}</td>
            </tr>
            <tr>
                <td>Number of megapacks installed </td>
                <td>{{ extra.summary.megapack.mp_count }}</td>
            </tr>
        </table>
    </div>
</div>



<h3 id="project-list"> Megapack Project List</h3>

This list is a best effort to try and list all Tesla megapack and powerpack (>5MWh) installations that are reported via the news / twitter. 
<br>Use the search bar to narrow down the results, e.g. <code>california operation</code> or <code>⚡ usa</code> for all large project in the USA. 
<br>Click on the name to show a detail view of the project incl the sources where the information was found. 

<br><br>

<table id="projects-table" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Country</th>
            <th>Status</th>
            <th>Go live</th>
            <th>Type</th>
            <th>MWh</th>
            <th>MW</th>
        </tr>
    </thead>
    <tbody>
        {% for p in projects %}
        <tr>
            <td><a href="projects/{{p.id}}.html" target="_blank">{{ p["name"] }}</a> {{p.smileys}}</td>
            <td>{{ p["state"] }}</td>
            <td>{{ p["country"] }}</td>
            <td><span class="{{ p.status_class }}">{{ p["status"] }}</span></td>
            <td>{{ p["start operation"] }}</td>
            <td><span class="{% if p.type == 'megapack' %}badge rounded-pill bg-secondary{% endif %}">{{ p["type"] }}</span></td>
            <td>{{ p["capacity mwh"] }}</td>
            <td>{{ p["power mw"] }}</td>
        </tr>
        {% endfor %}
        
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<br>
⚡ more than 100MWh, ☀️ attached to solar farm, 🌬️ attached to wind farm, 🏝️ island installation, 🚌 at bus depot, 📍 location not exactly known
<br>In case you want to analyze the data further, you can download the raw data as 
<a href="misc/big-battery-projects.json">json</a>,
<a href="misc/big-battery-projects.csv">csv</a> or
<a href="misc/big-battery-projects.excel.csv">excel csv</a>.


<h3 id="installations-map" class="mt-4"> Installations map </h3>
<ul>
    <li>Click on the layers button on the top right to switch to <code>satellite view</code></li>
    <li>At certain zoom level, the names of the projects will show up under the pin</code></li>
    <li>Click on the pins for more info about the project</code></li>
</ul>

<div style="height: 600px;" id="mapid"></div>

<img height=28 src="pics/marker-grey.png">Planning
<img height=28 src="pics/marker-blue.png">Construction
<img height=28 src="pics/marker-green.png">Operation




<h3 id="stationary-vs-cars" class="mt-4">Stationary vs Cars</h3>

Comparison of the battery capacity deployed in Tesla cars vs in Tesla ESS (energy storage system) projects. ESS projects are Powerwall, Powerpack and Megapack installations combined.  
Assuming an average battery size of 60kWh for model 3/y and 90kWh for model s/x. Those numbers are form the Tesla Quarterly reports. 
The calculations are in the <a href="https://github.com/lorenz-g/tesla-megapack-tracker" target="_blank">Github repo</a> for this website and the raw data can be found there also. 
<br><br>
{% for y in extra.cars.list %}
<div class="row">
    <div class="col-lg-6">
        <div>
            <b>{{ y.year }}</b> - <code>{{ "%.1f" | format(y.total_gwh) }} GWh</code> in total, {{ y.perc_stat_year }}% ESS vs {{ y.perc_cars }}% cars
        </div>
        {% if y.year != "All Time" %}
        <div class="progress bg-white mb-2" style="height: 2em;">
            <div class="progress-bar bg-primary" role="progressbar" style="width: {{ y.perc_y3 }}%;">{{ "%.1f" | format(y.y3_mwh / 1000) }}</div>  
            <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ y.perc_sx }}%;">{{ "%.1f" | format(y.sx_mwh / 1000) }}</div>  
        </div>
        <div class="progress bg-white mb-3" style="height: 2em;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ y.perc_stat }}%;">{{ "%.1f" | format(y.stat_mwh / 1000) }}</div>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
<span class="badge rounded-pill bg-primary">Model 3/y in GWh</span>
<span class="badge rounded-pill bg-secondary">Model s/x in GWh</span>
<span class="badge rounded-pill bg-success">ESS in GWh</span>
<br><br>
To put <code>{{ "%.1f" | format(extra.cars.expl.total_gwh) }} GWh</code> into perspective. With all battery cells Tesla sold to date, you could power: 
<ul>
    <li>
        the entire 
        <a href="https://www.agora-energiewende.de/en/service/recent-electricity-data/" target="_blank">country of Germany</a> 🇩🇪
        for <code>ca {{ "%.1f" | format(extra.cars.expl.hours_germany) }} hours</code> 
    </li>
    <li>
        Or the <a href="https://www.statista.com/statistics/280704/world-power-consumption/" target="_blank">entire globe</a> 
        🌎 for <code>ca {{ "%.1f" | format(extra.cars.expl.minutes_world) }} minutes</code>.
    </li>
</ul>


<br> Unfortunately most of those cells are in cars which most of the time are not connected via a charger to the grid. 
Making the car chargers smarter and trying to maximize the times that EVs are connected to the grid has a huge potential to stabilize the grid 
and transform it towards a supply driven energy market vs a demand driven. <br>
That means: You charge your car when there is enough green energy vs when you want to charge your car there must be enough energy


<h3 id="contact" class="mt-4">Contact & Contribute</h3>
<a href="https://twitter.com/l__orenz" title="Ask me on Twitter" target="_blank"><img alt="Follow LeafletJS on Twitter" src="pics/twitter-round.png" width="46"></a>
<a href="https://github.com/lorenz-g/tesla-megapack-tracker" title="View Source on GitHub" target="_blank"><img alt="View Source on GitHub" src="pics/github-round.png" width="46"></a>
<br>

Contact: Direct Message via <a href="https://twitter.com/l__orenz" target="_blank">Twitter</a> for questions. 
<br>
Contribute: Found and error or there is a new project, open an Issue or a Pull Request on 
<a href="https://github.com/lorenz-g/tesla-megapack-tracker" target="_blank">Github</a>. 
You can also find all the code there to generate this site. 

<br><br>
This page is not affiliated, associated, endorsed by or in any way officially connected with Tesla Motors, Inc.
<br>
<span style="font-size: 0.8rem;">This static site was generated on: {{ extra.now }} UTC</span>

{% endblock %}
