{% extends "base.html" %}

{% block extra_scripts %}
<!-- Datatables JS -->
<script src="https://cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.0/js/dataTables.bootstrap5.min.js" crossorigin="anonymous"></script>

<!-- add those to one package?  -->
<script src="{{ g_l('/js/batteryMap.js')}}" crossorigin="anonymous"></script>
<script src="{{ g_l('/js/batteryList.js')}}" crossorigin="anonymous"></script>

<script>
    // if defining sth here it can be accessed in the console with summary...
    // var summary = "test";

    $(document).ready(function() {        
        // insert the data via jinja here
        // just a hack to parse it, o/w the color highlighting in VS Code is messed up. 
        // this does not work, why?
        // var projects = '{# extra.projects_json #}';
        // projects = JSON.parse(projects)
        // could also have the json as static file and load it here...
        var projects = {{ extra.projects_json }};
        var summary = {{ extra.summary | tojson }};
        
        generateBatteryList(4, [6,7], summary, '#projects-table');
        generateBatteryMap(projects, 'mapid');

    } );
</script>
{% endblock %}


{% block content %}
<h3> Tesla Megapack summary*</h3>

<div class="row">
    <div class="col-lg-5">
        <table class="table table-bordered">
            <tr>
                <td></td>
                <td><span class="badge rounded-pill bg-success">operation</span></td>
                <td>🏗️</td>
                <td>💻</td>
            </tr>
            <tr>
                <td>Projects count</td>
                <td>{{ extra.summary.by_status.operation.count }}</td>
                <td>{{ extra.summary.by_status.construction.count }}</td>
                <td>{{ extra.summary.by_status.planning.count }}</td>
            </tr>
            <tr>
                <td>🔋 Battery capacity (GWh) </td>
                <td>{{ "%.1f" | format(extra.summary.by_status.operation.gwh) }}</td>
                <td>{{ "%.1f" | format(extra.summary.by_status.construction.gwh) }}</td>
                <td>{{ "%.1f" | format(extra.summary.by_status.planning.gwh) }}</td>
            </tr>
            <tr>
                <td colspan="4"> 
                    GWh that went in <span class="badge rounded-pill bg-success">operation</span> per year: <br>
                    <div class="progress mt-2" style="height: 2em;">
                    {% for year in extra.summary.yearly_operation %}
                        <div class="progress-bar bg-success border" role="progressbar" style="width: {{ year.perc }}%;">{{ "%.1f" | format(year.gwh) }}</div>
                    {% endfor %}
                    </div>  
                    <div class="progress" style="height: 2em;">
                        {% for year in extra.summary.yearly_operation %}
                            <div class="progress-bar bg-white text-muted" role="progressbar" style="width: {{ year.perc }}%;">{{ year.year[2:] }}</div>
                        {% endfor %}
                    </div>  
                    GWh in <span class="badge rounded-pill bg-success">operation</span> by country (top 5): <br>
                    {% for country in extra.summary.by_country[:5] %}
                        {{ country.flag }} {{ "%.1f" | format(country.gwh) }} &nbsp;&nbsp;
                    {% endfor %}
                </td>
            </tr>
        </table>
        🏗️ = construction; 💻 = planning<br>
        *the summary also contains some powerpack projects >10MW<br>
    </div>
</div>

<div class="pt-2 pb-3">
    This is the Tesla page, to view the big batteries from all manufacturers click <a href="all-big-batteries.html">here</a>.
</div>

<h3 id="project-list"> Tesla Megapack project list</h3>
<ul>
    <li>This list is a best effort to track Tesla megapack installations. </li>
    <li>Use the search bar to narrow down the results, e.g. <code>california operation</code> for projects in California in operation.</li>
    <li>Click on the name to show a detail view of the project.</li>
    <li class="d-md-none">Table is better on a big screen (with more columns also).</li>
</ul>

<table id="projects-table" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Country</th>
            <th>Status</th>
            <th>Go live</th>
            <th>Customer / Owner / Developer</th>
            <th>MWh</th>
            <th>MW</th>
        </tr>
    </thead>
    <tbody>
        {% for p in extra.projects %}
        <tr>
            <td>
                <a href="projects/{{p.csv.id}}.html" target="_blank">{{ p.name }}</a> 
                <span class="text-nowrap">{{p.emojis_with_tooltips}}</span>
            </td>
            <td>{{ p.state }}</td>
            <td>{{ p.country }}</td>
            <td><span class="{{ p.status_class }}">{{ p.status }}</span></td>
            <td class="text-nowrap">{{ p.go_live }}</td>
            <td>{{ p.csv.customer }} {{ p.owner }} {{ p.csv.developer }}</td>
            <td>{{ p.mwh }}</td>
            <td>{{ p.mw }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

<br>
{{ extra.summary.emoji_legend}}
<br>Raw data as: 
<a href="misc/big-battery-projects.json">json</a> &
<a href="misc/big-battery-projects.csv">csv</a>


<h3 id="installations-map" class="mt-4"> Tesla Megapack installations map </h3>
<ul>
    <li>Click on the layers button on the top right to switch to <code>satellite view</code></li>
    <li>At certain zoom level, the names of the projects will show up under the pin</code></li>
    <li>Click on the pins for more info about the project</code></li>
</ul>

<div style="height: 600px;" id="mapid"></div>

<img height=28 src="pics/marker-grey.png">Planning
<img height=28 src="pics/marker-blue.png">Construction
<img height=28 src="pics/marker-green.png">Operation
<br>{{ extra.summary.emoji_legend}}




<h3 id="cars-vs-stationary" class="mt-4">Cars vs Stationary</h3>

Comparison of the battery capacity deployed in Tesla cars vs in Tesla ESS (energy storage system) projects. <b>ESS projects are Powerwall, Powerpack and Megapack installations combined.</b>  
Assuming an average battery size of 60kWh for model 3/y and 90kWh for model s/x. Those numbers are form the Tesla Quarterly reports. 
The calculations are in the <a href="https://github.com/lorenz-g/tesla-megapack-tracker" target="_blank">Github repo</a> for this website and the raw data can be found there also. 
<br><br>
{% for y in extra.cars.list %}
<div class="row">
    <div class="col-lg-6">
        <div>
            <b>{{ y.year }}</b> - <code>{{ "%.0f" | format(y.total_gwh) }} GWh</code> in total,  {{ y.perc_cars }}% cars vs {{ y.perc_stat_year }}% ESS
        </div>
        {% if y.year != "All Time" %}
        <div class="progress bg-white mb-2" style="height: 2em;">
            <div class="progress-bar bg-primary" role="progressbar" style="width: {{ y.perc_y3 }}%;">{{ "%.0f" | format(y.y3_mwh / 1000) }}</div>  
            <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ y.perc_sx }}%;">{{ "%.0f" | format(y.sx_mwh / 1000) }}</div>  
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ y.perc_stat }}%;">{{ "%.0f" | format(y.stat_mwh / 1000) }}</div>
        </div>
        <!-- <div class="progress bg-white mb-3" style="height: 2em;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ y.perc_stat }}%;">{{ "%.1f" | format(y.stat_mwh / 1000) }}</div>
        </div> -->
        {% endif %}
    </div>
</div>
{% endfor %}
<span class="badge rounded-pill bg-primary">Model 3/y in GWh</span>
<span class="badge rounded-pill bg-secondary">Model s/x in GWh</span>
<span class="badge rounded-pill bg-success">Megapack / Powerwall / Powerpack in GWh</span>
<br><br>
To put <code>{{ "%.0f" | format(extra.cars.expl.total_gwh) }} GWh</code> into perspective. With all battery cells Tesla sold to date, you could power: 
<ul>
    {% for item in extra.cars.expl.consumption_list %}
    <li>
        {{ item.text }}
        for <code>ca {{ "%.0f" | format(item.value) }} {{ item.display}}</code> 
        <span style="font-size: 0.7rem;">
            (<a href="{{ item.source }}">{{ item.year_of_consumption }}</a> source)
        </span>
    </li>
    {% endfor %}
</ul>


<br> Unfortunately most cells are in cars which mostly are not connected via a charger to the grid. 
Making the car chargers smarter and trying to maximize the times that EVs are connected to the grid has a huge potential to stabilize the grid 
and transform it towards a supply driven energy market vs a demand driven. <br>
That means: You charge your car when there is enough green energy vs when you want to charge your car there must be enough energy


<h3 id="contact" class="mt-4">Contact & Contribute</h3>
<a href="https://twitter.com/l__orenz" title="Ask me on Twitter" target="_blank"><img alt="" src="pics/twitter-round.png" width="46"></a>
<a href="https://github.com/lorenz-g/tesla-megapack-tracker" title="View Source on GitHub" target="_blank"><img alt="View Source on GitHub" src="pics/github-round.png" width="46"></a>
<br>

Contact: Direct Message via <a href="https://twitter.com/l__orenz" target="_blank">Twitter</a> for questions. 
<br>
Contribute: Open an issue or a PR on 
<a href="https://github.com/lorenz-g/tesla-megapack-tracker" target="_blank">Github</a>. 
Source code is there as well. 
<br><br>

<div style="font-size: 0.8rem;">
    This page is not affiliated, associated, endorsed by or in any way officially connected with Tesla, Inc.
    <br>
    Website was generated on: {{ extra.now.strftime("%Y-%m-%d %H:%M") }} UTC
</div>

{% endblock %}