{% extends "base.html" %}

{% block title %} 
{{p.csv.name}} ({{ p.mwh }}MWh)
{% endblock %}

{% block og_props %}
<meta name="description" content="detail page for {{p.csv.name}} big battery">

<meta property="og:title" content="{{p.csv.name}} ({{ p.mwh }}MWh)" />
<meta property="og:description" content="detail page for {{p.csv.name}} big battery" />
<meta property="og:image" content="https://lorenz-g.github.io/tesla-megapack-tracker/pics/logo.jpg" />
{% endblock %}

{% block content %}

<h3> {{p.name}} {{p.emojis_with_tooltips}} </h3>

<dt>Status </dt>
<dl><span class="{{ p.status_class }}">{{ p.status }}</span> </dl>

<dt>Country / State / Closest City </dt>
<dl>{{ p.flag }} {{ p.country }} / {{ p.state }} / {{ p.csv.city }}</dl>

<dt>Dates</dt>
<div class="row">
    <div class="col-lg-4">
        <table class="table table-bordered">
            <tr>
                <td>First heard</td>
                <td>{{ p.date_first_heard }}</td>
            </tr>
            <tr>
                <td>Construction start</td>
                <td>{{ p.start_construction }}</td>
            </tr>
            <tr>
                <td>Operation start</td>
                <td>{{ p.start_operation }}</td>
            </tr>
            <tr>
                <td>Estimated start</td>
                <td>{{ p.start_estimated }}</td>
            </tr>
            {% if p.status == 'cancelled' %}
            <tr>
                <td>Month disappeared</td>
                <td>{{ p.month_disappeared }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Construction time</td>
                <td>
                    {% if p.construction_time_month %}
                    {{ p.construction_time_month }} months -> {{p.construction_speed_mwh_per_month}} MWh/m
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

<dt>Capacity in MWh </dt>
<dl>
    {{ p.mwh }}
    {% if p.mwh_is_estimate %} <br>📏  This is an estimate {% endif %}

</dl>


<dt>Maximum Power in MW </dt>
<dl>{{ p.mw }}</dl>

<dt>Manufacturer </dt>
<dl>{{ p.csv.manufacturer }} </dl>

<dt>Type / Number of Packs / Cells </dt>
<dl>{{ p.csv.type }} / {{ p.csv.no_of_battery_units }} / {{ p.csv.cells }}</dl>

<dt>Customer / Owner / Developer</dt>
<dl>{{ p.csv.customer }} / {{ p.owner }} / {{ p.csv.developer }} </dl>


<dt>Use case </dt>
<dl>{{ p.csv.use_case }}</dl>

<dt>Link to google maps satellite view</dt>
<dl><a href="{{ p.google_maps_link }}" target="_blank">{{ p.google_maps_link }}</a> </dl>

<dt>Coordinates </dt>
<dl>
    {{ p.lat }}, {{ p.long }} 
    <br> {{ p.coords_help_str}}
</dl>

<div class="row">
    <div class="col-lg-6">
        <div style="height: 300px;" id="mapid"></div>
    </div>
</div>

<dt>Notes </dt>
<dl>
    {% for note in p.notes_split %}
    {{ note }} <br>
    {% endfor %} 
</dl>

<dt>Project website </dt>
<dl><a href="{{ p.csv.project_website }}" target="_blank">{{ p.csv.project_website }} </a> </dl>

<dt> Sources </dt>
<dl>
    {% for link in p.links %}
    <a href="{{ link }}" target="_blank">{{ link }} </a> <br>
    {% endfor %} 
</dl>

<dt> Internal / External id </dt>
<dl>
    {{p.internal_id}} / {{p.external_id}}
</dl>


{% if p.has_gov_data %}
<!-- gov data history -->    
<h3> {{ gov_data_info_dict[p.country]["name_short"] }} data </h3>

The government data source for this battery is the {{ gov_data_info_dict[p.country]["name_long"] }}
<br>
<a href ="{{ gov_data_info_dict[p.country]['source_url'] }}">
    {{ gov_data_info_dict[p.country]['source_url'] }}
</a>
<br>


{% if p.country == "usa" %}
<!-- us data -->

{% if p.gov.has_multiple_projects %}
<span class="badge bg-info">This project has {{ p.gov_history.values() | length }} 
    generator ids under the same plant id</span><br>
{% endif %}

{% for gen in p.gov_history.values()%}
Info from the <code>{{ gen.current_month }}</code> report (Project first appeared in the <code>{{ gen.first_month }}</code> report):<br>

<br>
<dt>Plant Name / State</dt>
<dl>{{ gen["current"]["plant name"]}} / {{ gen["current"]["plant state"]}}</dl>

<dt>go live / power </dt>
<dl>{{ gen["current"]["date"]}} / {{ gen["current"]["mw"]}}MW</dl>

<dt>status / status verbose</dt>
<dl>{{ gen["current"]["status"]}} / {{ gen["current"]["status_verbose"]}} </dl>

<dt>Plant id / generator id </dt>
<dl>{{ gen["current"]["plant id"]}} / {{ gen["current"]["generator id"]}}</dl>

<dt>Entity name / entity id </dt>
<dl>{{ gen["current"]["entity name"]}} / {{ gen["current"]["entity id"]}}</dl>

<b>Changes:</b><br>

{% for change in gen.changes[::-1] %}
    <b>{{change.month}}</b><br>
    {% for field in change.li %}
        {{ field.name }}: {{ field.from }} -> {{ field.to }} {{ field.extra | safe }}<br>
    {% endfor %} <!-- field -->

{% endfor %} <!-- changes -->
<br><br>
{% endfor %}


{% elif p.country in ("uk", "germany") %}
<!-- uk / germany data -->
Info from the <code>{{ p.gov_history.current_month }}</code> report 
(Project first appeared in the <code>{{ p.gov_history.first_month }}</code> report):<br>

<br>
<dt>Plant Name / State</dt>
<dl>{{ p.gov.name}} / {{ p.gov.state }}</dl>

<dt>Go live / estimated go live </dt>
<dl>{{ p.gov.start_operation }} / {{ p.gov.start_estimated }}</dl>

<dt>MW</dt>
<dl>{{ p.gov.power_mw }}</dl>

<dt>Status</dt>
<dl>{{ p.gov.status }}</dl>

<b>Changes:</b><br>
{% for change in p.gov_history.changes[::-1] %}
    <b>{{change.month}}</b><br>
    {% for field in change.li %}
        {{ field.name }}: {{ field.from }} -> {{ field.to }} {{ field.extra | safe }}<br>
    {% endfor %} <!-- field -->
    <br>
{% endfor %} <!-- changes -->


{% endif %} <!-- if p.country -->

<br>
{{ p.gov.month_disappeared }}
{% if p.gov.month_disappeared %}
This project disappeared in the <code>{{ p.gov.month_disappeared }}</code> report. <br>
That's why the status was set to <span class="{{ p.status_class }}">{{ p.status }}</span>
<br>
{% endif %} <!-- if p.gov.month_disappeared -->

{% else %} <!-- if p.has_gov_data -->

{% endif %} <!-- if p.has_gov_data -->

{% endblock %}

{% block extra_scripts %}

<script src="{{ g_l('/js/batteryMap.js')}}" crossorigin="anonymous"></script>

<script>
    // if defining sth here it can be accessed in the console with summary...
    // var summary = "test";

    $(document).ready(function() {        
        // insert the data via jinja here
        // just a hack to parse it, o/w the color highlighting in VS Code is messed up. 
        // this does not work, why?
        // var projects = '{# extra.projects_json #}';
        // projects = JSON.parse(projects)
        // could also have the json as static file and load it here...
        var projects = [ {{ p.to_dict() | tojson }}];
        
        generateBatteryMap(projects, 'mapid', zoom_to_first_project=true);

    } );
</script>
{% endblock %}
