{% extends "base.html" %}

{% block title %} 
{{p.csv.name}} ({{ p.mwh }}MWh)
{% endblock %}

{% block og_props %}
<meta name="description" content="detail page for {{p.csv.name}} big battery">

<meta property="og:title" content="{{p.csv.name}} ({{ p.mwh }}MWh)" />
<meta property="og:description" content="detail page for {{p.csv.name}} big battery" />
<meta property="og:image" content="https://lorenz-g.github.io/tesla-megapack-tracker/pics/logo.jpg" />
{% endblock %}

{% block content %}

<h3> {{p.name}} {{p.emojis_with_tooltips}} </h3>

<dt>Status </dt>
<dl><span class="{{ p.status_class }}">{{ p.status }}</span> </dl>

<dt>Country / State / Closest City </dt>
<dl>{{ p.country }} / {{ p.state }} / {{ p.csv.city }}</dl>

<dt>Dates</dt>
<div class="row">
    <div class="col-lg-4">
        <table class="table table-bordered">
            <tr>
                <td>First heard</td>
                <td>{{ p.date_first_heard }}</td>
            </tr>
            <tr>
                <td>Construction start</td>
                <td>{{ p.start_construction }}</td>
            </tr>
            <tr>
                <td>Operation start</td>
                <td>{{ p.start_operation }}</td>
            </tr>
            <tr>
                <td>Estimated start</td>
                <td>{{ p.start_estimated }}</td>
            </tr>
            <tr>
                <td>Construction time</td>
                <td>
                    {% if p.construction_time_month %}
                    {{ p.construction_time_month }} months -> {{p.construction_speed_mwh_per_month}} MWh/m
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

<dt>Capacity in MWh </dt>
<dl>
    {{ p.mwh }}
    {% if p.mwh_is_estimate %} <br>📏  This is an estimate {% endif %}

</dl>


<dt>Maximum Power in MW </dt>
<dl>{{ p.mw }}</dl>

<dt>Manufacturer </dt>
<dl>{{ p.csv.manufacturer }} </dl>

<dt>Type / Number of Packs / Cells </dt>
<dl>{{ p.csv.type }} / {{ p.csv.no_of_battery_units }} / {{ p.csv.cells }}</dl>

<dt>Customer / Owner / Developer</dt>
<dl>{{ p.csv.customer }} / {{ p.owner }} / {{ p.csv.developer }} </dl>


<dt>Use case </dt>
<dl>{{ p.csv.use_case }}</dl>

<dt>Link to google maps satellite view</dt>
<dl><a href="{{ p.google_maps_link }}" target="_blank">{{ p.google_maps_link }}</a> </dl>

<dt>Coordinates </dt>
<dl>
    {{ p.lat }}, {{ p.long }} 
    <br> {{ p.coords_help_str}}
</dl>


<dt>Notes </dt>
<dl>
    {% for note in p.notes_split %}
    {{ note }} <br>
    {% endfor %} 
</dl>

<dt>Project website </dt>
<dl><a href="{{ p.csv.project_website }}" target="_blank">{{ p.csv.project_website }} </a> </dl>

<dt> Sources </dt>
<dl>
    {% for link in p.links %}
    <a href="{{ link }}" target="_blank">{{ link }} </a> <br>
    {% endfor %} 
</dl>

<dt> Internal / External id </dt>
<dl>
    {{p.internal_id}} / {{p.external_id}}
</dl>


{% if p.has_gov_data  and p.country == "usa" %}
<h3> US EIA data </h3>
This data is matched from the U.S. Energy Information Administration (EIA) electricity monthly website from planned (Chapter 6.5) and existing (Chapter 6.3) energy projects
 <a href ="https://www.eia.gov/electricity/monthly/">https://www.eia.gov/electricity/monthly/</a></li>
<br>

{% if p.gov_history.values() | length > 1 %}
<span class="badge bg-info">This project has {{ p.gov_history.values() | length }} generator ids under the same plant id</span><br>
{% endif %}

{% for gen in p.gov_history.values()%}
Info from the <code>{{ gen.current_month }}</code> report (Project first appeared in the <code>{{ gen.first_month }}</code> report):<br>

<br>
<dt>Plant Name / State</dt>
<dl>{{ gen["current"]["plant name"]}} / {{ gen["current"]["plant state"]}}</dl>

<dt>go live / power </dt>
<dl>{{ gen["current"]["date"]}} / {{ gen["current"]["mw"]}}MW</dl>

<dt>status / status verbose</dt>
<dl>{{ gen["current"]["status"]}} / {{ gen["current"]["status_verbose"]}} </dl>

<dt>Plant id / generator id </dt>
<dl>{{ gen["current"]["plant id"]}} / {{ gen["current"]["generator id"]}}</dl>

<dt>Entity name / entity id </dt>
<dl>{{ gen["current"]["entity name"]}} / {{ gen["current"]["entity id"]}}</dl>

<b>Changes:</b><br>

{% for change in gen.changes[::-1] %}
    <b>{{change.month}}</b><br>
    {% for field in change.li %}
        {{ field.name }}: {{ field.from }} -> {{ field.to }} {{ field.extra | safe }}<br>
    {% endfor %} <!-- field -->

{% endfor %} <!-- changes -->
<br><br>
{% endfor %}
{% endif %}

{% endblock %}
